/* navbar */
.logo{
    width:4rem;
    margin-top: -1%;
}
body{
overflow-x: hidden;
    background-color: white;
}
.nav-item{
    font-size: 30px;
}
html{
    font-size: 95%;
}
.container-fluid{


padding-inline-start: 200px;
padding-inline-end: 150px;
}
.navbar{
    width: 100%;
    font-family: 'Lato', sans-serif;
position:fixed;
background-color: transparent;

/* margin-top: -1%; */


}
.navbar li{
    margin :13px 20px;
    font-size: 1.4rem;
    margin-top: -1%;
}
.html{
    font-family: 'Lato', sans-serif;
}

.fa-regular{
font-size: 16px;
    color: black;
 
}

.nav-link{
    color: black;
}
.fa-user{
    margin-top: -10%;
}
.fa-solid {


    font-size: 16px;
    color: black;
}
/* navbarend */

/*fornt-info*/
.parent{

   

    display: flex;
    flex-direction: row;
 
    justify-content: space-around;
}
.myinfo,
.fornphoto{
    
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    margin-top: 150px;

}
 .fornphoto{
   
    margin-left: 5%;
   
}
.myinfo h1{
   
    font-size: 2.7rem;
}
.myinfo{ 
   
    margin-left:5%;
 margin-right: 5%; 
    margin-top: 20%;
}
.text-nowrap{

font-size: 2rem;

}
.img-fluid
{
    height:auto;
}
.introduction{
    margin-top: 300px;
}

.introduction
.text-nowrap{
    font-size: 2.8rem;
   text-align: center;
   font-family: 'Lato', sans-serif;
   font-weight: 100;
   word-spacing: 5px;
}
span{
    color: red;
}

.introduction .info{
  
    
text-align: center;
}
.info ul{
 
margin: 3rem;
  list-style-type: none;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  color: black;
/* word-spacing: 5px; */
padding-inline-end: 4.5%;

text-align: justify;
}

.profileparent{display: flex;
   
    justify-content: center;}

.profile{
   
    height: 200px;
    width: 200px;
    border-radius: 100%;
  
  border: 1px solid red;
}
.findme {

   font-family: 'Lato', sans-serif;
   font-weight: 100;
    margin-top: 100px;
    text-align: center;
}

.findme p
{  font-family: 'Lato', sans-serif;
    font-weight: 400;

}
.fa-github,
.fa-twitter,
.fa-envelope,
.fa-linkedin-in{
    font-size: 1.2rem;
   padding: .5rem;
    border-radius: 100%;
    background-color: whitesmoke;
}
.fa-github:hover,
.fa-twitter:hover,
.fa-envelope:hover,
.fa-linkedin-in:hover{
    font: 1.4rem;
    color: white;
    cursor: pointer;
 background-color: red;
}

.text{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.findme{
    margin-top: 50px;
   
}
.findme h1{
   word-spacing: 5px;
   
}
.efect{
 
   
}
.EffectContainer .text{
    font-size:2.8rem;
    position: relative;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: red;
    z-index: -1;

}
.text.sec-text:before{

    content: "";
    position: absolute;
    background-color:white;
    top: 0;
    left: 0;

    height: 100%;

    width: 100%;
    border-left: 2px solid red;
    animation: animate 4s steps(12) infinite;
}
@keyframes animate{
40%,60%{
    left: 100%;

}
100%{
    left:0%;
    
}
}
@media screen and (max-width:970px) {
    .parent{
        display: flex;
        flex-direction:column;
        justify-content: center;


   
    }
    .container-fluid{


        padding-inline-start: 50px;
        padding-inline-end: 80px;
        }
        .fornphoto{
            margin-top: 100px;
            width: 85%;
        }
}
@media screen and (max-width:851px) {
  html{
    font-size: 88%;
  }
  .info ul{
 

     margin: 2.3rem;
     
    }
}

@media screen and (max-width:600px) {
    html{
      font-size: 75%;
    }
    .info ul{
   
  
       margin: 1.5rem;
       
      }
      .fornphoto{
        display: flex;
       
        justify-content: center;
        margin-top: 100px;
        width: 85%;
    }
    .s2{
        margin-top: -200px;
    }
.findme{

font-size: 110%;
  }
  .container-fluid{


    padding-inline-start: 40px;
    padding-inline-end: 30px;
    }
}
  @media screen and (max-width:420px) {
    .parent{
     
    }
    .myinfo .text-nowrap h1{


        }
        .container-fluid{


            padding-inline-start: 20px;
            padding-inline-end: 15px;
            }
        
        .myinfo{
         
            margin-top: 100px;
        }
  }

